{% extends 'base.html.twig' %}

{% block title %}Les comptes bancaires{% endblock %}

{% block body %}
    <h1>La liste des comptes bancaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom du banque</th>
                <th>N° de compte</th>
                <th>Solde (MAD)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for bank_account in bank_accounts %}
            <tr>
                <td>{{ bank_account.bankName }}</td>
                <td>{{ bank_account.numero }}</td>
                <td>
                    {% if bank_account.solde >= 0 %}
                    <span class="text-success">+{{ bank_account.solde|number_format(2) }}</span>
                    {% else %}
                    <span class="text-danger">{{ (bank_account.solde)|number_format(2) }}</span>
                    {% endif %}
                </td>
                <td class="d-flex">
                    <a class="ml-auto" href="{{ path('bank_account_show', {'id': bank_account.id}) }}">Afficher</a>
                    {% if is_granted('ROLE_COMPTABLE') %}
                        <a class="ml-auto" href="{{ path('bank_account_edit', {'id': bank_account.id}) }}">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Il y a aucun compte bancaire</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_COMPTABLE') %}
        <a href="{{ path('bank_account_new') }}">Ajouter un nouveau compte bancaire</a>
    {% endif %}
{% endblock %}
