{% extends 'base.html.twig' %}

{% block title %}Compte bancaire #{{ bank_account.id }}{% endblock %}

{% block body %}
    <h1>Compte bancaire #{{ bank_account.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom de banque</th>
                <td>{{ bank_account.bankName }}</td>
            </tr>
            <tr>
                <th>N° de compte</th>
                <td>{{ bank_account.numero }}</td>
            </tr>
            <tr>
                <th>Solde</th>
                <td>
                    {% if bank_account.solde >= 0 %}
                    <span class="text-success">+{{ bank_account.solde|number_format(2) }}</span>
                    {% else %}
                    <span class="text-danger">{{ (bank_account.solde)|number_format(2) }}</span>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a  class="btn btn-light mb-1" href="{{ path('bank_account_index') }}">Retourner à la liste</a><br>
    {% if is_granted('ROLE_COMPTABLE') %}
        <a class="btn btn-warning mb-1" href="{{ path('bank_account_edit', {'id': bank_account.id}) }}">Modifier</a>

        {{ include('bank_account/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
