{% extends 'base.html.twig' %}

{% block title %}Catégorisation{% endblock %}

{% block body %}
    <h1>Les catégories des transactions</h1>
    <div class="row">
        <div id="chart_div1" class="col-md-6"></div>
        <div id="chart_div2" class="col-md-6"></div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawChart1);
      google.charts.setOnLoadCallback(drawChart2);

      var width = 700;
      var height = 400;
    
      function drawChart1() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Achat matériel informatique', {{ achat_materiel_informatique.debit + achat_materiel_informatique.credit }}],
          ['Achat logiciel', {{ achat_logiciel.debit + achat_logiciel.credit }}],
          ["Frais d'électricité", {{ frais_electricite.debit + frais_electricite.credit }}],
          ['Loyer', {{ loyer.debit + loyer.credit }}],
          ['Paiement de client', {{ paiement_client.debit + paiement_client.credit }}],
          ['salaire', {{ salaire.debit + salaire.credit }}]
        ]);

        var options = {'title':'Les catégories par montant',
                       'width':width,
                       'height':height};

        var chart = new google.visualization.PieChart(document.getElementById('chart_div1'));
        chart.draw(data, options);
      }

      function drawChart2() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
        ['Achat matériel informatique', {{ achat_materiel_informatique.num }}],
        ['Achat logiciel', {{ achat_logiciel.num }}],
        ["Frais d'électricité", {{ frais_electricite.num }}],
        ['Loyer', {{ loyer.num }}],
        ['Paiement de client', {{ paiement_client.num }}],
        ['salaire', {{ salaire.num }}]
        ]);

        var options = {'title':'Les catégories par nombre des transactions',
                    'width':width,
                    'height':height};

        var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
        chart.draw(data, options);
      }
    </script>
    {# {{ encore_entry_script_tags('categorisation') }} #}
{% endblock %}