{% extends 'base.html.twig' %}

{% block title %}Catégorisation{% endblock %}

{% block body %}
    <h1>Les catégories des transactions</h1>
    <div id="chart_div"></div>
    {#
    <h1>Les catégories des transactions</h1>

    <table class="table">
        {% for categorie in categories %}
            <tr>
                <td>
                    <a class="text-body" href="#">
                    {{ include('partials/_generateLibelle.html.twig', {'libelle': categorie.libelle}) }}
                    </a>
                </td>
                <td class="d-flex">
                    {{ include('partials/_generateDebitCredit.html.twig', {'credit': categorie.credit, 'debit': categorie.debit}) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Il y a aucune transaction</td>
            </tr>
        {% endfor %}
    </table>
    #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Achat matériel informatique', {{ achat_materiel_informatique.debit + achat_materiel_informatique.credit }}],
          ['Achat logiciel', {{ achat_logiciel.debit + achat_logiciel.credit }}],
          ["Frais d'électricité", {{ frais_electricite.debit + frais_electricite.credit }}],
          ['Loyer', {{ loyer.debit + loyer.credit }}],
          ['Paiement de client', {{ paiement_client.debit + paiement_client.credit }}],
          ['salaire', {{ salaire.debit + salaire.credit }}]
        ]);

        var options = {'title':'Les catégories par montant',
                       'width':800,
                       'height':600};

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    {# {{ encore_entry_script_tags('categorisation') }} #}
{% endblock %}