{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
    <h1 class="mb-4">{{ pageTitle }}</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
    {{ form_end(form) }}

{% endblock %}
