{% extends 'base.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block body %}
    <h1>Transaction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>N° de compte</th>
                <th>Tireur</th>
                <th>Mode de paiement</th>
                <th>Cheque</th>
                <th>RIB</th>
                <th>Libellé</th>
                <th>Note</th>
                <th>Débit</th>
                <th>Crédit</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.bankAccount.numero }}</td>
                <td>{{ transaction.tireur }}</td>
                <td>{{ transaction.modeDePaiement }}</td>
                <td>{{ transaction.cheque }}</td>
                <td>{{ transaction.rib }}</td>
                <td>{{ transaction.libelle }}</td>
                <td>{{ transaction.note }}</td>
                <td>{{ transaction.debit }}</td>
                <td>{{ transaction.credit }}</td>
                <td>{{ transaction.createdAt ? transaction.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('transaction_show', {'id': transaction.id}) }}">Afficher</a>
                    <a href="{{ path('transaction_edit', {'id': transaction.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('transaction_new') }}">Ajouter une nouvelle transaction</a>
{% endblock %}
