{% extends 'base.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block body %}
    <h1>La liste des transactions</h1>
    <div class="d-flex flex-row my-2">
        <input id="date_input" class="form-control ml-auto" type="date" value="" max="{{ 'now'|date('Y-m-d') }}" style="width: 180px;" path="{{ path('transaction_search') }}">
    </div>
    
    <div id="table" class="table-responsive">
        {{ include('transaction/_transactionsTable.html.twig') }}
    </div>
    {% if is_granted('ROLE_COMPTABLE') %}
        <a href="{{ path('transaction_new') }}">Ajouter une nouvelle transaction</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('transaction') }}
{% endblock %}
