{% extends 'base.html.twig' %}

{% block title %}Transaction #{{ transaction.id }}{% endblock %}

{% block body %}
    <h1>Transaction #{{ transaction.id }}</h1>

    <table class="table mt-4">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ transaction.date ? transaction.date|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Tireur/Tiré</th>
                <td>{{ transaction.tireur }}</td>
            </tr>
            <tr>
                <th>Mode de paiement</th>
                <td>{{ include('partials/_generateModeDePaiement.html.twig', {'modeDePaiement': transaction.modeDePaiement}) }}</td>
            </tr>
            <tr>
                <th>Réf de paiement/RIB</th>
                <td>{{ include('partials/_generateChequeRib.html.twig', {'cheque': transaction.cheque, 'rib': transaction.rib}) }}</td>
            </tr>
            <tr>
                <th>Libellé</th>
                <td>{{ include('partials/_generateLibelle.html.twig', {'libelle': transaction.libelle}) }}</td>
            </tr>
            <tr>
                <th>Débit/Crédit</th>
                <td>{{ include('partials/_generateDebitCredit.html.twig', {'credit': transaction.credit, 'debit': transaction.debit}) }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ transaction.note }}</td>
            </tr>
            <tr>
                <th>Le solde avant</th>
                <td>
                    {% if transaction.prevSolde >= 0 %}
                    <span class="text-success">
                    {% else %}
                    <span class="text-danger">
                    {% endif %}
                        {{ (transaction.prevSolde)|number_format(2) }} MAD
                    </span>
                </td>
            </tr>
            <tr>
                <th>Le solde après</th>
                <td>
                    {% if transaction.nextSolde >= 0 %}
                    <span class="text-success">
                    {% else %}
                    <span class="text-danger">
                    {% endif %}
                        {{ (transaction.nextSolde)|number_format(2) }} MAD
                    </span>
                </td>
            </tr>
            <tr>
                <th>Le solde maintenant</th>
                <td>
                    {% if transaction.bankAccount.solde >= 0 %}
                    <span class="text-success">
                    {% else %}
                    <span class="text-danger">
                    {% endif %}
                        {{ (transaction.bankAccount.solde)|number_format(2) }} MAD
                    </span>
                </td>
            </tr>
            <tr>
                <th>Créé à</th>
                <td>{{ transaction.createdAt ? transaction.createdAt|date('d/m/Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Modifié à</th>
                <td>{{ transaction.updatedAt ? transaction.updatedAt|date('d/m/Y H:i') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_COMPTABLE') %}
    <div class="d-inline-flex mb-4">
        <a class="btn btn-warning text-white mr-2" href="{{ path('transaction_edit', {'id': transaction.id}) }}"><i class="fas fa-pencil-alt"></i> Modifier</a>

        {{ include('transaction/_delete_form.html.twig') }}
    </div>
        
    {% endif %}
{% endblock %}
